.header {
  font-family: Pretendard;
  font-weight: 500;
  font-size: 50px;
  text-align: center;
  margin: 20px 0 20px 0;
}

.splash {
  width: 100vw;
  height: 100vh;
  background-color: #9f0a28;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 70px;
  margin: 0;
}

.section {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 30px;
  font-size: 40px;
}

.rectangle {
  border: 1px solid black;
  width: 500px;
  height: 600px;
}

.sensor {
  border: 1px solid black;
  width: 500px;
  height: 600px;
}

.rectangle img,
.sensor img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
  margin: 0 auto;
}
