.header {
  font-family: Pretendard;
  font-weight: 500;
  font-size: 50px;
  text-align: center;
  margin: 20px 0 20px 0;
}

.splash {
  width: 100vw;
  height: 100vh;
  background-color: #9f0a28;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 70px;
}

.section {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.rectangle {
  border: 1px solid black;
  width: 300px;
  height: 300px;
}

.sensor {
  border: 1px solid black;
  width: 400px;
  height: 200px;
}
